<!-- catalog/templates/catalog/product_detail.html -->
{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}Информация о продукте{% endblock title%}

{% block content %}
<body>
<div class="container">
    <div class="row text-center">
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">Информация о продукте</h4>
                </div>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> <img src="{{ product.photo | media_filter }}" alt="{{ product.name }}" width=" 400" height=" 400"></li>
                        <li> Название: {{ product.name }}</li>
                        <li> Описание: {{ product.description|truncatechars:100 }}</li>
                        <li> Категория: {{ product.category }}</li>
                        <li> Стоимость: {{ product.price }}</li>
                        <li> Дата создания: {{ product.created_at }}</li>
                        <li> Дата последнего изменения: {{ product.updated_at }}</li>
                    </ul>

                </div>
            <a href="/" class="btn btn-success">Назад</a>
            </div>
        </div>
    </div>

</body>

{% endblock content %}
