<!--product_by_category_list.html-->
{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %} Товары в категории {% endblock title %}
{% block content %}

<body>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Товары в категории {{ category.name }}</h1>
        <a href="{% url 'catalog:category_list' %}" class="btn btn-primary">Вернуться в Категории</a>
    </div>
  </div>
</section>
<div class="container">
    <div class="row text-center">
        {% for product in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Цена: {{ product.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> <img src="{{ product.photo | media_filter }}" alt="{{ product.name }}" width=" 200" height=" 200"></li>
                        <li>- {{ product.description|truncatechars:100 }}</li>
                        <li>- {{ product.category }}</li>
                        <li>- {{ product.created_at }}</li>
                        <li>- {{ product.updated_at }}</li>
                    </ul>
                    <a href="product_detail/{{product.pk}}/" class="btn btn-success">Подробнее</a>

                    {% if perms.catalog.can_unpublish_product and perms.catalog.can_delete_product or user == product.owner %}
                    <a href="product_list/{{product.pk}}/update/" class="btn btn-success">Редактировать</a>
                    <a href="product_list/{{product.pk}}/delete/" class="btn btn-success">Удалить</a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
{% endblock content %}
